# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://jfkdqskmdjomjhoiooke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impma2Rxc2ttZGpvbWpob2lvb2tlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NzkwNTYsImV4cCI6MjA5MzA1NTA1Nn0.2G9zYg2jFKKQLqMrRjl9Xq7GqBz0P-QHQBqvNBmHGGk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impma2Rxc2ttZGpvbWpob2lvb2tlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ3OTA1NiwiZXhwIjoyMDkzMDU1MDU2fQ.QZ_oMdGZGjgtxOf8Shz8IcIJ5mjbXx5GAjBQ4ap5mj4

# Security
APP_SECRET=3d38aacd312f0f58b4107ef415beaa941b0970f7d68f5049e6834b87bcb8ace8



# AI Configuration
GEMINI_API_KEYS=AIzaSyBMjzc0T8042FP04sKMrvAL7WIqL8o-4BQ,AIzaSyBR_J0Xz9MILvnePgrMCTKk3nqnWYNn-dk
# Alternatively, keys can be stored in the database for dynamic rotation
